
<div class="font-card-container">
<div class="font-card shadow-1">
  <p class="h1-centered">Aa</p>
  <p class="p-small-centered">Open Sans</p>
    <p class="p-xsmall-centered subtle">System font</p>
</div>

<div class="font-card shadow-1">
  <p class="displayfont-1-centered" style="font-size: 34px; line-height: 1.18;">Aa</p>
  <p class="p-small-centered">Georgia</p>
  <p class="p-xsmall-centered subtle">Display font</p>
</div>
</div>

<h2 class="h2-normal margin">Headings</h2>
<table>
  <tr>
    <th class="p-small-normal">H1 / Large title <br>
Open Sans / Regular / 34/40 px</th>
    <td class="h1-normal">Well, the way they make shows is, they make one show. </td>
  </tr>
  <tr>
    <th class="p-small-normal">H2 / Title 1 <br>
Open Sans / SemiBold / 24/32 px</th>
    <td class="h2-normal">Now that there is the Tec-9, a crappy spray gun from South Miami.</td>
  </tr>
  <tr>
    <th class="p-small-normal">H3 / Title 2 <br>
Open Sans / Regular / 20/24 px</th>
    <td class="h3-normal">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it?</td>
  </tr>
  <tr>
    <th class="p-small-normal">H4 / Headline<br>
Open Sans / SemiBold / 14/18 px</th>
    <td class="h4-normal">Now that we know who you are, I know who I am. I’m not a mistake!</td>
  </tr>
  <tr>
    <th class="p-small-normal">H5 / Subhead<br>
Open Sans / SemiBold / 12/16 px</th>
    <td class="h5-normal">My money’s in that office, right? If she start giving me some bullshit about it ain’t there, and we got to go someplace else and get it, I’m gonna shoot </td>
  </tr>
  <tr>
    <th class="p-small-normal">H6 / Caption<br>
Open Sans / SemiBold / 10/14 px</th>
    <td class="h6-normal">Your bones don’t break, mine do. That’s clear. Your cells react to bacteria and viruses differently than mine. You don’t get sick, I do. That’s also clear. But for some reason, you and I react the exact same way to water.</td>
  </tr>
</table>

<h2 class="h2-normal margin">Paragraph</h2>
<table>
  <tr>
    <th class="p-small-normal">P-Large / Callout<br>
Open Sans / Regular / 18/28 px</th>
    <td class="p-large-normal">Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that’s what you see at a toy store. And you must think you’re in a toy store, because you’re here shopping for an infant named Jeb.</td>
  </tr>
  <tr>
    <th class="p-small-normal">P-Medium / Body<br>
Open Sans / Regular / 14/20 px</th>
    <td class="p-medium-normal">It all makes sense! In a comic, you know how you can tell who the arch-villain’s going to be? He’s the exact opposite of the hero. And most times they’re friends, like you and me! I should’ve known way back when… You know why, David? Because of the kids. They called me Mr Glass.</td>
  </tr>
  <tr>
    <th class="p-small-normal">P-Small / Body<br>
Open Sans / Regular / 12/18 px</th>
    <td class="p-small-normal">Then I’m gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I’m talking to you, motherfucker. You listen: we go in there, and that motherfucker Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</td>
  </tr>
  <tr>
    <th class="p-small-normal">P-XSmall / Caption<br>
Open Sans / Regular / 14/18 px</th>
    <td class="p-xsmall-normal">I wanna help you. But I can’t give you this case, it don’t belong to me. Besides, I’ve already been through too much shit this morning over this case to hand it over to your dumb ass.</td>
  </tr>
</table>

<h2 class="h2-normal margin">Display Font</h2>
<table>
  <tr>
    <th class="p-small-normal">Display 1<br>
Georgia / Bold / 48/60 px</th>
    <td class="displayfont-1-normal">You think water moves fast? You should see ice. </td>
  </tr>
  <tr>
    <th class="p-small-normal">Display 2<br>
Georgia / Bold / 32/36 px</th>
    <td class="displayfont-2-normal">We said we’d say it was the snow that killed the other two, but it wasn’t.</td>
  </tr>
  <tr>
    <th class="p-small-normal">Display 3<br>
Georgia / Bold / 24/32 px</th>
    <td class="displayfont-3-normal">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I’m in a transitional period so I don’t wanna kill you, I wanna help you.</td>
  </tr>
</table>
