/* ---------- Text button styling ---------- */
.btn-text {
  height: 32px;
  border-radius: 12px;
  padding: 8px 16px;
  border-color: transparent;
}

.btn-filled a {
  color: white;
}

.btn-filled:hover {
  background-color: #A4BDBD;
}

.btn-filled:focus {
  background-color: #3A6262;
}

.fbtn-illed:active {
  background-color: #FDA472;
}


/* ---------- default button outlined ---------- */
.btn-outlined {
  background-color: transparent;
  border-color: #D1D3D4;
}

.btn-outlined a {
  color: #555555;
}

.btn-outlined:hover {
  background-color: Transparent;
  border-color: #497B7B;
}

.btn-outlined:focus {
  border-color: #3A6262;
}

.btn-outlined:active {
  background-color: #497B7B;
}

/* ---------- default button transparent ---------- */
.btn-transparent {
  background-color: transparent;
  padding: 8px 0px;
}

.btn-transparent a {
  color: #497B7B;
}
