

.font-card-container {
  display: flex;
  flex-direction: row;

}
.font-card {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border-radius: 12px;
}

table {
  margin: 8px;
  width: 80%;
  color: var(--text-default)
}

th, td {
  padding: 16px 8px;
}

th {
  width: 30%;
  font-weight: normal;
}
