<h1 class="h1-normal">Brand Colors</h1>
<div class="color-cards-container">
<div class="color-card shadow-1">
  <div class="color-preview primary">
    <div class="color-variants">
      <div class="light-color-preview primary-light">
      </div>
      <div class="dark-color-preview primary-dark">
      </div>
    </div>
  </div>
  <p class="color-name p-small-centered">
primary
</p>
  <p class="color-name p-xsmall-centered subtle">
#497B7B
</p>
</div>

<div class="color-card shadow-1">
  <div class="color-preview secondary">
    <div class="color-variants">
      <div class="light-color-preview secondary-light">
      </div>
      <div class="dark-color-preview secondary-dark">
      </div>
    </div>
  </div>
  <p class="color-name p-small-centered">
secondary
</p>
  <p class="color-name p-xsmall-centered subtle">
#FDA472
</p>
</div>

  <div class="color-card shadow-1">
    <div class="color-preview tertiary">
      <div class="color-variants">
        <div class="light-color-preview tertiary-light">
        </div>
        <div class="dark-color-preview tertiary-dark">
        </div>
      </div>
    </div>
    <p class="color-name p-small-centered">
  tertiary
</p>
    <p class="color-name p-xsmall-centered subtle">
    #F3EEE9
</p>
  </div>
</div>

<h1 class="h1-normal">Grayscale</h1>
<div class="color-cards-container">
  <div class="color-card shadow-1">
    <div class="color-preview gray-100">
    </div>
    <p class="color-name p-small-centered">
  gray-100
</p>
    <p class="color-name p-xsmall-centered subtle">
    #1B2528
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview gray-80">
    </div>
    <p class="color-name p-small-centered">
  gray-80
</p>
    <p class="color-name p-xsmall-centered subtle">
    #495153
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview gray-60">
    </div>
    <p class="color-name p-small-centered">
  gray-60
</p>
    <p class="color-name p-xsmall-centered subtle">
    #767C7E
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview gray-40">
    </div>
    <p class="color-name p-small-centered">
  gray-40
</p>
    <p class="color-name p-xsmall-centered subtle">
      #A4A8A9
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview gray-20">
    </div>
    <p class="color-name p-small-centered">
  gray-20
</p>
    <p class="color-name p-xsmall-centered subtle">
  #D1D3D4
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview gray-10">
    </div>
    <p class="color-name p-small-centered">
  gray-10
</p>
    <p class="color-name p-xsmall-centered subtle">
  #E9EAEA
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview white">
    </div>
    <p class="color-name p-small-centered">
  white
</p>
    <p class="color-name p-xsmall-centered subtle">
  #FFFFFF
</p>
  </div>
  </div>


  <h1 class="h1-normal">Utility Colors</h1>
  <div class="color-cards-container">
  <div class="color-card shadow-1">
    <div class="color-preview utility-danger">
      <div class="color-variants">
        <div class="light-color-preview utility-danger-light">
        </div>
        <div class="dark-color-preview utility-danger-dark">
        </div>
      </div>
    </div>
    <p class="color-name p-small-centered">
utility-danger
</p>
    <p class="color-name p-xsmall-centered subtle">
  #497B7B
</p>
  </div>

  <div class="color-card shadow-1">
    <div class="color-preview utility-warning">
      <div class="color-variants">
        <div class="light-color-preview utility-warning-light">
        </div>
        <div class="dark-color-preview utility-warning-dark">
        </div>
      </div>
    </div>
    <p class="color-name p-small-centered">
  utility-warning
</p>
    <p class="color-name p-xsmall-centered subtle">
  #FDA472
</p>
  </div>

    <div class="color-card shadow-1">
      <div class="color-preview utility-success">
        <div class="color-variants">
          <div class="light-color-preview utility-success-light">
          </div>
          <div class="dark-color-preview utility-success-dark">
          </div>
        </div>
      </div>
      <p class="color-name p-small-centered">
    utility-success
  </p>
      <p class="color-name p-xsmall-centered subtle">
      #2B9B56
  </p>
    </div>

    <div class="color-card shadow-1">
      <div class="color-preview utility-info">
        <div class="color-variants">
          <div class="light-color-preview utility-info-light">
          </div>
          <div class="dark-color-preview utility-info-dark">
          </div>
        </div>
      </div>
      <p class="color-name p-small-centered">
    utility-info
  </p>
      <p class="color-name p-xsmall-centered subtle">
      #F3EEE9
  </p>
    </div>
  </div>

  <h1 class="h1-normal">Supplement Colors</h1>
  <div class="color-cards-container">
    <div class="color-card shadow-1">
      <div class="color-preview supplement-red">
      </div>
      <p class="color-name p-small-centered">
supplement-red
</p>
      <p class="color-name p-xsmall-centered subtle">
      #C73C37
  </p>
    </div>

    <div class="color-card shadow-1">
      <div class="color-preview supplement-yellow">
      </div>
      <p class="color-name p-small-centered">
supplement-yellow
</p>
      <p class="color-name p-xsmall-centered subtle">
      #E2A737
  </p>
    </div>

    <div class="color-card shadow-1">
      <div class="color-preview supplement-green">
      </div>
      <p class="color-name p-small-centered">
supplement-green
</p>
      <p class="color-name p-xsmall-centered subtle">
      #2B9B56
  </p>
    </div>

    <div class="color-card shadow-1">
      <div class="color-preview supplement-blue">
      </div>
      <p class="color-name p-small-centered">
supplement-blue
</p>
      <p class="color-name p-xsmall-centered subtle">
      #2D63B9
  </p>
    </div>
    <div class="color-card shadow-1">
      <div class="color-preview supplement-purple">
      </div>
      <p class="color-name p-small-centered">
supplement-purple
</p>
      <p class="color-name p-xsmall-centered subtle">
      #573AA3
  </p>
    </div>
    </div>

    </div>
