.Header {
  background: #536076;
}
.Header-title {
background-image: url(/logo.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
padding-left: 65px;
line-height: 2.33333;
}

.Header-title:link, .Header-title:visited {
  color: transparent;
}
