/* atoms */
@import "/css/atoms/blockquote.css";
@import "/css/atoms/default.css";
@import "/css/atoms/icons.css";
/* molecules */
/* @import "./molecules/_name_.css"; */

/* organisms */
/* @import "./organisms/_name_.css"; */
:root {
/* Colors */
  --brand-primary: #497B7B;
  --brand-secondary: #FDA472;
  --brand-tertiary: #F3EEE9;

  --brand-primary-light: #A4BDBD;
  --brand-secondary-light: #FED1B9;
  --brand-tertiary-light: #F9F6F4;

  --brand-primary-dark: #3A6262;
  --brand-secondary-darkt: #CB835B;
  --brand-tertiary-dark: #C3BFBB;

  --grayscale-10: #E9EAEA;
  --grayscale-20: #D1D3D4;
  --grayscale-40: #A4A8A9;
  --grayscale-60: #767C7E;
  --grayscale-80: #495153;
  --grayscale-100: #1B2528;

  --utility-danger: #B25E5B;
  --utility-warning: #CC9C40;
  --utility-success: #42835B;
  --utility-info: #4C7895;
}

body {
  font-family: "open sans", sans-serif;
}

a {
  text-decoration: none;
}

/* Text styles */
.text-p-xs-normal {
  font-size: 10px;
  text-align: left;
}
