.badges-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.badge-large {
  height: 24px;
  width: fit-content;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: transparent;
  align-content: center;
}

.badge-small {
  height: 18px;
  width: fit-content;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: transparent;
  align-content: center;
}
