<div class="button-container">
<a type="button" class="btn-fab btn-filled btn-filled-states margin" href="{{link}}"><span class="icon-plus white"></span></a>
<a type="button" class="btn-fab btn-transparent btn-transparent-states margin" href="{{link}}"><span class="icon-plus primary"></span></a>
</div>
