<div class="button-container">
<a type="button" class="btn-icon-large btn-filled btn-filled-states shadow-2 margin" href="{{link}}"><span class="icon-arrow-right white"></span></a>
<a type="button" class="btn-icon-large btn-outlined btn-outlined-states shadow-2 margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
<a type="button" class="btn-icon-large btn-transparent btn-transparent-states shadow-2 margin" href="{{link}}"><span class="icon-arrow-right primary"></span></a>
</div>
