<h2 class="h4-normal">Large Badges</h2>
<div class="badges-container">
<div class="badge-large secondary center margin">
  <p class="text-light p-small-normal">{{text}}</p>
</div>
<div class="badge-large secondary center margin">
<p class="text-light p-small-normal">{{text}}</p>
<div class="icon-remove white"></div>
</div>

</div>

<h2 class="h4-normal">Small Badges</h2>
<div class="badges-container">

<div class="badge-small secondary center margin">
  <p class="text-light p-small-normal">{{text}}</p>
</div>
<div class="badge-small secondary center margin">
  <p class="text-light p-small-normal">{{text}}</p>
  <div class="icon-remove white"></div>
</div>
</div>
