<div class="">

<div class="badge-large primary center">
  <p class="text-light text-p-s-normal">{{text}}</p>
</div>

<div class="badge-small primary center">
  <p class="text-light text-p-s-normal">{{text}}</p>
</div>
</div>

<div class="">
<div class="badge-large primary center">
<p class="text-light text-p-s-normal">{{text}}</p>
<div class="icon-remove white"></div>
</div>

<div class="badge-small primary center">
  <p class="text-light text-p-s-normal">{{text}}</p>
  <div class="icon-remove white"></div>
</div>
</div>
