<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ path '/css/main.css' }}">
      <title>Preview</title>
    </head>
    <body>
      {{{yield}}}
      <script src="{{path '/js/main.js'}}"></script>
    </body>
  </html>
