<div class="icon-container">

<div class="icon-wrapper">
  <div class="icon icon-arrow-right"></div>
  <p class="text-p-xs-normal">arrow-right</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-arrow-left"></div>
  <p class="text-p-xs-normal">arrow-left</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-arrow-up"></div>
  <p class="text-p-xs-normal">arrow-up</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-arrow-down"></div>
  <p class="text-p-xs-normal">arrow-down</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-checkbox-checked"></div>
  <p class="text-p-xs-normal">checkbox-checked</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-checkbox"></div>
  <p class="text-p-xs-normal">check-box</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-close"></div>
  <p class="text-p-xs-normal">close</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-dialog"></div>
  <p class="text-p-xs-normal">dialog</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-document"></div>
  <p class="text-p-xs-normal">document</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-documents"></div>
  <p class="text-p-xs-normal">documents</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-edit"></div>
  <p class="text-p-xs-normal">edit</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-filter"></div>
  <p class="text-p-xs-normal">filter</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-highlight"></div>
  <p class="text-p-xs-normal">highlight</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-home"></div>
  <p class="text-p-xs-normal">home</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-label"></div>
  <p class="text-p-xs-normal">label</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-lightning"></div>
  <p class="text-p-xs-normal">lightning</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-minus"></div>
  <p class="text-p-xs-normal">minus</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-overflow-horizontal"></div>
  <p class="text-p-xs-normal">overflow-horizontal</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-overflow-vertical"></div>
  <p class="text-p-xs-normal">overflow-vertical</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-pause"></div>
  <p class="text-p-xs-normal">pause</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-play"></div>
  <p class="text-p-xs-normal">play</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-profile"></div>
  <p class="text-p-xs-normal">profile</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-radio-off"></div>
  <p class="text-p-xs-normal">radio-off</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-radio-on"></div>
  <p class="text-p-xs-normal">radio-on</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-remove"></div>
  <p class="text-p-xs-normal">remove</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-search"></div>
  <p class="text-p-xs-normal">search</p>
</div>

<div class="icon-wrapper">
  <div class="icon icon-success"></div>
  <p class="text-p-xs-normal">success</p>
</div>

</div>
