<div class="icon-container">

<div class="icon-wrapper">
  <div class="icon-arrow-right"></div>
  <p class="p-xsmall-normal">arrow-right</p>
</div>

<div class="icon-wrapper">
  <div class="icon-arrow-left"></div>
  <p class="p-xsmall-normal">arrow-left</p>
</div>

<div class="icon-wrapper">
  <div class="icon-arrow-up"></div>
  <p class="p-xsmall-normal">arrow-up</p>
</div>

<div class="icon-wrapper">
  <div class="icon-arrow-down"></div>
  <p class="p-xsmall-normal">arrow-down</p>
</div>

<div class="icon-wrapper">
  <div class="icon-checkbox-checked"></div>
  <p class="p-xsmall-normal">checkbox-checked</p>
</div>

<div class="icon-wrapper">
  <div class="icon-checkbox"></div>
  <p class="p-xsmall-normal">check-box</p>
</div>

<div class="icon-wrapper">
  <div class="icon-close"></div>
  <p class="p-xsmall-normal">close</p>
</div>

<div class="icon-wrapper">
  <div class="icon-dialog"></div>
  <p class="p-xsmall-normal">dialog</p>
</div>

<div class="icon-wrapper">
  <div class="icon-document"></div>
  <p class="p-xsmall-normal">document</p>
</div>

<div class="icon-wrapper">
  <div class="icon-documents"></div>
  <p class="p-xsmall-normal">documents</p>
</div>

<div class="icon-wrapper">
  <div class="icon-edit"></div>
  <p class="p-xsmall-normal">edit</p>
</div>

<div class="icon-wrapper">
  <div class="icon-filter"></div>
  <p class="p-xsmall-normal">filter</p>
</div>

<div class="icon-wrapper">
  <div class="icon-highlight"></div>
  <p class="p-xsmall-normal">highlight</p>
</div>

<div class="icon-wrapper">
  <div class="icon-home"></div>
  <p class="p-xsmall-normal">home</p>
</div>

<div class="icon-wrapper">
  <div class="icon-label"></div>
  <p class="p-xsmall-normal">label</p>
</div>

<div class="icon-wrapper">
  <div class="icon-lightning"></div>
  <p class="p-xsmall-normal">lightning</p>
</div>

<div class="icon-wrapper">
  <div class="icon-minus"></div>
  <p class="p-xsmall-normal">minus</p>
</div>

<div class="icon-wrapper">
  <div class="icon-overflow-horizontal"></div>
  <p class="p-xsmall-normal">overflow-horizontal</p>
</div>

<div class="icon-wrapper">
  <div class="icon-overflow-vertical"></div>
  <p class="p-xsmall-normal">overflow-vertical</p>
</div>

<div class="icon-wrapper">
  <div class="icon-pause"></div>
  <p class="p-xsmall-normal">pause</p>
</div>

<div class="icon-wrapper">
  <div class="icon-play"></div>
  <p class="p-xsmall-normal">play</p>
</div>

<div class="icon-wrapper">
  <div class="icon-profile"></div>
  <p class="p-xsmall-normal">profile</p>
</div>

<div class="icon-wrapper">
  <div class="icon-radio-off"></div>
  <p class="p-xsmall-normal">radio-off</p>
</div>

<div class="icon-wrapper">
  <div class="icon-radio-on"></div>
  <p class="p-xsmall-normal">radio-on</p>
</div>

<div class="icon-wrapper">
  <div class="icon-remove"></div>
  <p class="p-xsmall-normal">remove</p>
</div>

<div class="icon-wrapper">
  <div class="icon-search"></div>
  <p class="p-xsmall-normal">search</p>
</div>

<div class="icon-wrapper">
  <div class="icon-success"></div>
  <p class="p-xsmall-normal">success</p>
</div>

</div>
