<div class="filter">
<div class="margin-sides">
  {{> @button }}
</div>
<div class="margin-sides">
  {{> @button }}
</div>
<div class="margin-sides">
  {{> @button }}
</div>
<div class="margin-sides">
  {{> @button }}
</div>
<div class="margin-sides">
  {{> @form }}
</div>
<div class="margin-sides">
  {{> @button-icon}}
</div>
<div class="margin-sides">
  {{> @button-icon--transparent}}
</div>
</div>
