

/* ---------- Text button styling ---------- */
.button-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.btn {
  height: 32px;
  width: fit-content;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------- Text button filled ---------- */
.filled-btn-states:hover {
  background-color: var(--primary-light);
}

.filled-btn-states:active {
  border: 1px solid var(--secondary);
}

.filled-btn-states:focus {
  background-color: var(--primary-dark);
}

/* ---------- Text button outlined ---------- */

.outlined-btn-states:hover {
border: 1px solid var(--primary);
}

.outlined-btn-states:active {
  border: 1px solid var(--secondary);

}

.outlined-btn-states:focus {
  border: 1px solid var(--primary);
}


/* ---------- text button transparent ---------- */
.btn-transparent {
  padding: 8px 0px;
}

.transparent-btn-states:hover {
  background-color: var(--gray-10);
}

.transparent-btn-states:active {
  border: 1px solid var(--secondary);
}

.transparent-btn-states:focus {
background-color: var(--gray-20);

}
